<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fota.trade.mapper.AssetCategoryMapper">

    <resultMap id="BaseResultMap" type="com.fota.trade.domain.AssetCategoryDO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
        <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
    </resultMap>

    <sql id="Base_Column_List1" >
        id,name,gmt_create,gmt_modified
    </sql>

    <insert id="insert" parameterType="com.fota.trade.domain.AssetCategoryDO">
        INSERT INTO asset_category(name,gmt_create,gmt_modified)
        VALUES (#{name},#{gmtCreate},now())
    </insert>

    <select id="getAll" resultType="com.fota.trade.domain.AssetCategoryDO">
      SELECT
      <include refid="Base_Column_List1" />
      FROM asset_category
      ORDER BY id
    </select>

</mapper>