<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fota.trade.mapper.ContractMatchedOrderMapper">
    <resultMap id="BaseResultMap" type="com.fota.trade.domain.ContractMatchedOrderDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="ask_order_id" jdbcType="BIGINT" property="askOrderId" />
        <result column="ask_order_price" jdbcType="DECIMAL" property="askOrderPrice" />
        <result column="ask_user_id" jdbcType="BIGINT" property="askUserId" />
        <result column="ask_close_type" jdbcType="TINYINT" property="askCloseType" />
        <result column="bid_order_id" jdbcType="BIGINT" property="bidOrderId" />
        <result column="bid_order_price" jdbcType="DECIMAL" property="bidOrderPrice" />
        <result column="bid_user_id" jdbcType="BIGINT" property="bidUserId" />
        <result column="bid_close_type" jdbcType="TINYINT" property="bidCloseType" />
        <result column="match_type" jdbcType="TINYINT" property="matchType" />
        <result column="fee" jdbcType="DECIMAL" property="fee" />
        <result column="filled_price" jdbcType="DECIMAL" property="filledPrice" />
        <result column="filled_amount" jdbcType="DECIMAL" property="filledAmount" />
        <result column="contract_id" property="contractId"/>
        <result column="contract_name" jdbcType="VARCHAR" property="contractName" />
    </resultMap>
    <insert id="insert" parameterType="com.fota.trade.domain.ContractMatchedOrderDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into contract_matched_order (gmt_create, gmt_modified, ask_order_id,
        ask_order_price, ask_user_id, ask_close_type,
        bid_order_id, bid_order_price, bid_user_id,
        bid_close_type, match_type, fee,
        filled_price, filled_amount, contract_name,contract_id
        )
        values (now(), now(), #{askOrderId,jdbcType=BIGINT},
        #{askOrderPrice,jdbcType=DECIMAL}, #{askUserId,jdbcType=BIGINT}, #{askCloseType,jdbcType=TINYINT},
        #{bidOrderId,jdbcType=BIGINT}, #{bidOrderPrice,jdbcType=DECIMAL}, #{bidUserId,jdbcType=BIGINT},
        #{bidCloseType,jdbcType=TINYINT}, #{matchType,jdbcType=TINYINT}, #{fee,jdbcType=DECIMAL},
        #{filledPrice,jdbcType=DECIMAL}, #{filledAmount,jdbcType=DECIMAL}, #{contractName,jdbcType=VARCHAR}
        ,#{contractId}
        )
    </insert>

    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, ask_order_id, ask_order_price, ask_user_id, ask_close_type, bid_order_id, bid_order_price,
        bid_user_id, bid_close_type, match_type, fee, filled_price, filled_amount, contract_id, contract_name
    </sql>

    <select id="getAllFee" resultType="java.math.BigDecimal">
        SELECT sum(fee)
        FROM contract_matched_order
        WHERE gmt_create > #{startDate} AND gmt_create &lt; #{endDate}
    </select>

    <select id="count" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM contract_matched_order
        WHERE 1=1
        <if test="sourceId != null" >
            and contract_id=#{sourceId}
        </if>
        <if test="userId != null" >
            and user_id=#{userId}
        </if>
        <if test="startTime != null">
            and gmt_create &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and gmt_create &lt; #{endTime}
        </if>
    </select>

    <select id="queryMatchedOrder" resultMap="BaseResultMap">
        SELECT *
        FROM contract_matched_order
        WHERE 1=1
        <if test="sourceId != null" >
            and contract_id=#{sourceId}
        </if>
        <if test="userId != null" >
            and user_id=#{userId}
        </if>
        <if test="startTime != null">
            and gmt_create &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and gmt_create &lt; #{endTime}
        </if>
        order by gmt_create desc
        limit #{startRow}, #{endRow}
    </select>

    <select id="countByUserId" resultType="java.lang.Integer">
        select count(*) from usdk_matched_order where
        <if test="endTime != null">
            gmt_create &lt; #{endTime}
        </if>
        <if test="startTime != null">
            and gmt_create &gt;= #{startTime}
        </if>
        <if test="contractIds != null and contractIds.size != 0">
            and contract_id in
            <foreach item="item" index="index" collection="contractIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="userId != null">
            and (ask_user_id=#{userId} or bid_user_id=#{userId})
        </if>
    </select>

    <select id="listByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from usdk_matched_order
        where
        <if test="endTime != null">
            gmt_create &lt; #{endTime}
        </if>
        <if test="startTime != null">
            and gmt_create &gt;= #{startTime}
        </if>
        <if test="contractIds != null and contractIds.size != 0">
            and contract_id in
            <foreach item="item" index="index" collection="contractIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="userId != null">
            and (ask_user_id=#{userId} or bid_user_id=#{userId})
        </if>
        order by gmt_create DESC
        limit #{startRow}, #{endRow}
    </select>

</mapper>