<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fota.trade.mapper.trade.ContractMatchedOrderMapper">
    <resultMap id="BaseResultMap" type="com.fota.trade.domain.ContractMatchedOrderDO">
        <id column="id"  property="id" />
        <result column="gmt_create"  property="gmtCreate" />
        <result column="gmt_modified"  property="gmtModified" />
        <result column="order_id" property="orderId" />
        <result column="user_id"  property="userId" />
        <result column="order_price"  property="orderPrice" />
        <result column="order_direction"  property="orderDirection" />
        <result column="close_type"  property="closeType" />
        <result column="match_id"  property="matchId" />
        <result column="match_user_id"  property="matchUserId" />
        <result column="match_type"  property="matchType" />
        <result column="filled_price" property="filledPrice" />
        <result column="filled_amount"  property="filledAmount" />
        <result column="fee"  property="fee" />
        <result column="contract_id" property="contractId"/>
        <result column="contract_name"  property="contractName" />
        <result column="status"  property="status" />
    </resultMap>
    <insert id="insert" parameterType="com.fota.trade.domain.ContractMatchedOrderDO">
        insert into trade_contract_matched_record (gmt_create, gmt_modified, order_id,
        user_id, order_price, order_direction, close_type,
        match_id, match_user_id, match_type,
        filled_price, filled_amount, fee, contract_id, contract_name, status
        )
        values
        <foreach collection="list" item="item" separator=",">
            (now(3), now(3), #{item.orderId},
             #{item.userId}, #{item.orderPrice}, #{item.orderDirection}, #{item.closeType},
            #{item.matchId}, #{item.matchUserId}, #{item.matchType},
            #{item.filledPrice}, #{item.filledAmount}, #{item.fee}, #{item.contractId}, #{item.contractName}, #{item.status}
            )
        </foreach>
    </insert>


    <select id="countByUserId" resultType="java.lang.Integer">
        select count(*) from trade_contract_matched_record
        where user_id=#{userId}
        <if test="contractIds != null and contractIds.size != 0">
            and contract_id in
            <foreach item="item" index="index" collection="contractIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="endTime != null">
            and gmt_create &lt; #{endTime}
        </if>
        <if test="startTime != null">
            and gmt_create &gt;= #{startTime}
        </if>
    </select>

    <select id="listByUserId" resultMap="BaseResultMap">
        select *
        from trade_contract_matched_record
        where user_id=#{userId}

        <if test="contractIds != null and contractIds.size != 0">
            and contract_id in
            <foreach item="item" index="index" collection="contractIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="endTime != null">
            and gmt_create &lt; #{endTime}
        </if>
        <if test="startTime != null">
            and gmt_create &gt;= #{startTime}
        </if>
        order by gmt_create DESC, id
        limit #{startRow}, #{endRow}
    </select>

</mapper>