<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fota.trade.mapper.UsdkOrderMapper" >
  <resultMap id="BaseResultMap" type="com.fota.trade.domain.UsdkOrderDO" >
    <constructor >
      <idArg column="id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="gmt_create" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="gmt_modified" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="user_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="asset_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="asset_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="order_direction" jdbcType="TINYINT" javaType="java.lang.Integer" />
      <arg column="order_type" jdbcType="TINYINT" javaType="java.lang.Integer" />
      <arg column="total_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="unfilled_amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="fee" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="status" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="average_price" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, gmt_create, gmt_modified, user_id, asset_id, asset_name, order_direction, order_type, 
    total_amount, unfilled_amount, price, fee, status, average_price
  </sql>

  <select id="notMatchOrderList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from trade_usdk_order
    where id <![CDATA[ <= ]]> #{contractOrderIndex, jdbcType=INTEGER}
    and order_direction = #{orderDirection, jdbcType=INTEGER}
    and status in (#{placeOrder, jdbcType=INTEGER}, #{partialSuccess, jdbcType=INTEGER})
  </select>

  <insert id="insertSelective" parameterType="com.fota.trade.domain.UsdkOrderDO"
          useGeneratedKeys="true" keyProperty="id" keyColumn="gmt_create" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into trade_usdk_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
        gmt_modified,
      <if test="userId != null" >
        user_id,
      </if>
      <if test="assetId != null" >
        asset_id,
      </if>
      <if test="assetName != null" >
        asset_name,
      </if>
      <if test="orderDirection != null" >
        order_direction,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="unfilledAmount != null" >
        unfilled_amount,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="averagePrice != null" >
        average_price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      now(),
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="assetId != null" >
        #{assetId,jdbcType=INTEGER},
      </if>
      <if test="assetName != null" >
        #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="orderDirection != null" >
        #{orderDirection,jdbcType=TINYINT},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=TINYINT},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="unfilledAmount != null" >
        #{unfilledAmount,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="averagePrice != null" >
        #{averagePrice,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fota.trade.domain.UsdkOrderDO" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    update trade_usdk_order
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="assetId != null" >
        asset_id = #{assetId,jdbcType=INTEGER},
      </if>
      <if test="assetName != null" >
        asset_name = #{assetName,jdbcType=VARCHAR},
      </if>
      <if test="orderDirection != null" >
        order_direction = #{orderDirection,jdbcType=TINYINT},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=TINYINT},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="unfilledAmount != null" >
        unfilled_amount = #{unfilledAmount,jdbcType=DECIMAL},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="averagePrice != null" >
        average_price = #{averagePrice,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="countByQuery" resultType="java.lang.Integer">
    select count(*)
    from trade_usdk_order
    where 1=1
    <if test="assetId > 0" >
      and asset_id=#{assetId,jdbcType=INTEGER}
    </if>
    <if test="userId > 0" >
      and user_id=#{userId,jdbcType=BIGINT}
    </if>
    <if test="startTime != null">
      and gmt_create &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and gmt_create &lt;= #{endTime}
    </if>
    <if test="orderStatus != null and orderStatus.size != 0" >
      and status in
      <foreach item="item" index="index" collection="orderStatus" open="(" separator="," close=")">
        #{item,jdbcType=INTEGER}
      </foreach>
    </if>
  </select>

  <select id="listByQuery" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from trade_usdk_order
    where 1=1
    <if test="assetId > 0" >
      and asset_id=#{assetId}
    </if>
    <if test="userId > 0" >
      and user_id=#{userId}
    </if>
    <if test="startTime != null">
      and gmt_create &gt;= #{startTime}
    </if>
    <if test="endTime != null">
      and gmt_create &lt;= #{endTime}
    </if>
    <if test="orderStatus != null and orderStatus.size != 0" >
      and status in
      <foreach item="item" index="index" collection="orderStatus" open="(" separator="," close=")">
        #{item,jdbcType=INTEGER}
      </foreach>
    </if>
    order by gmt_create desc
    limit #{startRow,jdbcType=INTEGER}, #{endRow,jdbcType=INTEGER}
  </select>

  <select id="selectByUserId" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM trade_usdk_order
    WHERE user_id = #{userId}
    ORDER BY id
  </select>

  <update id="updateByFilledAmount">
    update trade_usdk_order
    set gmt_modified = now(),
        unfilled_amount = unfilled_amount - #{filledAmount},
        status = #{status},
        average_price = #{averagePrice,jdbcType=DECIMAL}
    where id = #{orderId} and unfilled_amount - #{filledAmount} >= 0
  </update>

  <update id="updateStatus">
    update trade_usdk_order
    set gmt_modified = now(),
    status = #{status}
    where id = #{id} and user_id = #{userId}
  </update>

</mapper>