<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fota.trade.mapper.UsdkMatchedOrderMapper">
    <resultMap id="BaseResultMap" type="com.fota.trade.domain.UsdkMatchedOrderDO">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate" />
        <result column="gmt_modified" jdbcType="TIMESTAMP" property="gmtModified" />
        <result column="ask_order_id" jdbcType="BIGINT" property="askOrderId" />
        <result column="ask_order_price" jdbcType="DECIMAL" property="askOrderPrice" />
        <result column="ask_close_type" jdbcType="TINYINT" property="askCloseType" />
        <result column="bid_order_id" jdbcType="BIGINT" property="bidOrderId" />
        <result column="bid_order_price" jdbcType="DECIMAL" property="bidOrderPrice" />
        <result column="bid_close_type" jdbcType="TINYINT" property="bidCloseType" />
        <result column="match_type" jdbcType="TINYINT" property="matchType" />
        <result column="filled_price" jdbcType="DECIMAL" property="filledPrice" />
        <result column="filled_amount" jdbcType="DECIMAL" property="filledAmount" />
        <result column="ask_user_id" jdbcType="BIGINT" property="askUserId" />
        <result column="bid_user_id" jdbcType="BIGINT" property="bidUserId" />
        <result column="asset_name" jdbcType="VARCHAR" property="assetName" />
        <result column="asset_id" jdbcType="INTEGER" property="assetId" />
    </resultMap>
    <insert id="insert" parameterType="com.fota.trade.domain.UsdkMatchedOrderDO">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into usdk_matched_order (gmt_create, gmt_modified, ask_order_id,
        ask_order_price, ask_close_type, bid_order_id,
        bid_order_price, bid_close_type, match_type,
        filled_price, filled_amount, ask_user_id,
        bid_user_id, asset_name, asset_id)
        values (#{gmtCreate,jdbcType=TIMESTAMP}, now(), #{askOrderId,jdbcType=BIGINT},
        #{askOrderPrice,jdbcType=DECIMAL}, #{askCloseType,jdbcType=TINYINT}, #{bidOrderId,jdbcType=BIGINT},
        #{bidOrderPrice,jdbcType=DECIMAL}, #{bidCloseType,jdbcType=TINYINT}, #{matchType,jdbcType=TINYINT},
        #{filledPrice,jdbcType=DECIMAL}, #{filledAmount,jdbcType=DECIMAL}, #{askUserId,jdbcType=BIGINT},
        #{bidUserId,jdbcType=BIGINT}, #{assetName,jdbcType=VARCHAR}, #{assetId,jdbcType=INTEGER})
    </insert>

    <sql id="Base_Column_List">
        id, gmt_create, gmt_modified, ask_order_id, ask_order_price, ask_close_type, bid_order_id, bid_order_price,
        bid_close_type, match_type, filled_price, filled_amount, ask_user_id, bid_user_id, asset_name, asset_id
    </sql>

    <select id="countByUserId" resultType="java.lang.Integer">
        select count(*) from usdk_matched_order where
        (ask_user_id=#{userId} or bid_user_id=#{userId})

        <if test="assetIds != null and assetIds.size != 0">
            and asset_id in
            <foreach item="item" index="index" collection="assetIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="endTime != null">
            and gmt_create &lt; #{endTime}
        </if>
        <if test="startTime != null">
            and gmt_create &gt;= #{startTime}
        </if>

    </select>

    <select id="listByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from usdk_matched_order
        where  (ask_user_id=#{userId} or bid_user_id=#{userId})
        <if test="assetIds != null and assetIds.size != 0">
            and asset_id in
            <foreach item="item" index="index" collection="assetIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="endTime != null">
            and gmt_create &lt; #{endTime}
        </if>
        <if test="startTime != null">
            and gmt_create &gt;= #{startTime}
        </if>


        order by gmt_create DESC, id
        limit #{startRow}, #{endRow}
    </select>

    <select id="getLatestUsdkMatched" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from usdk_matched_order
        order by gmt_create desc, id
        limit 1
    </select>

    <select id="getLatestUsdkMatchedList" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from usdk_matched_order
        where asset_id = #{assetId,jdbcType=BIGINT}  and  id  &lt; #{id,jdbcType=BIGINT}
        order by gmt_create desc, id
        limit 50
    </select>
</mapper>