<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fota.trade.mapper.UserFeeRateMapper">

    <resultMap id="BaseResultMap" type="com.fota.trade.domain.UserFeeRateDO" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="lever" property="name" jdbcType="INTEGER" />
        <result column="fee_rate" property="feeRate" jdbcType="DECIMAL" />
    </resultMap>

    <sql id="Base_Column_List" >
        id,level,fee_rate
    </sql>

    <insert id="insert" parameterType="com.fota.trade.domain.UserFeeRateDO">
        INSERT INTO trade_user_fee_rate(level,fee_rate,gmt_create,gmt_modified)
        VALUES (#{level},#{feeRate},now(),now())
    </insert>

    <select id="getByLevel" resultType="com.fota.trade.domain.UserFeeRateDO">
        SELECT
        <include refid="Base_Column_List" />
        FROM trade_user_fee_rate
        WHERE level = #{level}
        ORDER BY id
    </select>

</mapper>